---
---
{{reference}}
<br />
{% if entry.abstract %}
<button class="btn btnId btnPub--abstract" id="b_{{key}}-abstract" style="outline:none;">Abstract</button>
{% endif %}

<button class="btn btnId btnPub--BibTex" id="b_{{key}}-bibtex" style="outline:none;">BibTeX</button>

{% if entry.preprint %}
<a href="{{entry.preprint}}"><button class="btnPub--preprint" id="b_{{key}}-url"
        style="outline:none;">Preprint</button></a>
{% endif %}

{% if entry.url %}
<a href="{{entry.url}}"><button class="btnPub--url" id="b_{{key}}-url" style="outline:none;">Link</button></a>
{% endif %}

<div class="dropDownBibtex" id="{{key}}-bibtex" style="display:none">
    <pre class="raw-bibtex">{{entry.bibtex}}</pre>
</div>

<div class="dropDownAbstract" id="{{key}}-abstract" style="display:none">
    {{entry.abstract}}
</div>